h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.list {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dashboard-container {
    height: 87vh;
}